<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">

<div class="h_a">功能说明</div>

<div class="prompt_text">
	<ul>
        <li>登录使用＂帐号安全密匙＂来混淆加密，不要经常改动，因为改动后所有用户都需要重新登录</li>
	</ul>
</div>
<form class="J_ajaxForm" action="{@url:native/AccountSecurity/doSessionKey}" method="post">
<input type="hidden" name="type" value="alipay" />
<div class="table_full">
	<table width="100%">
		<col width="th" />
		<col width="400"/>
		<col />
		
		<tr>
		<th>帐号安全密匙</th>
		<td>
            <input name="securityKey" type="text" class="input length_4" value="{$config['securityKey']}">
            <a href="javascript:void(0);RandPwd();" class="btn" role="button">随机</a>
        </td>
		<td><div class="fun_tips"></div></td>
		</tr>
	</table>
</div>
<div class="btn_wrap">
	<div class="btn_wrap_pd" id="J_sub_wrap">
   <button type="submit" class="btn btn_submit J_ajax_submit_btn">提交</button>
	</div>
</div>
</form>
</div>
<template source='TPL:admin.common.footer' />
<script>
    function RandPwd()    {
        var str="1234567890!@#$%^&*()abcdefghigklmnopqrst";
        var arr=[];
        for(var i=0;i<str.length-1;i++){
            arr[i]=str.substring(i,i+1);
        }
        str=arr.sort(function(){return 0.5-Math.random();});
        str=arr.join("");
        $("input[name=securityKey]").val(str.substring(0,32));
    }
    </script>
</body>
</html>
