<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body style="width:435px;" class="body_none">
<div class="">

<!--用户权限编辑添加: 添加用户-->
<form id="J_auth_form" action="{@url:native/banner/doAdd}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="bid" value="{$bid}" />
        <input type="hidden" name="vieworder" value="{$banner['vieworder']}" />
        <input type="hidden" name="img" value="{$banner['img']}" />
<div>
    <div class="pop_cont">
        <div class="mb15"><h4 class="mb5">Banner标题</h4><input name="title" type="text" value="{$banner['title']}" class="input" style="width:200px;"></div>
        <div class="mb15"><h4 class="mb5">上传文件(320*150)</h4>
            <input type="file" name="Filename" value="" />
        </div>
        <div class="mb15"><h4 class="mb5">点击类型</h4>
            <label><input class="J_check" type="radio" name="clickType" value="forum" <!--# echo $banner['type']=='forum'?'checked="true"':'' #-->><span>论坛版面</span></label>
            <label><input class="J_check" type="radio" name="clickType" value="tag" <!--# echo $banner['type']=='tag'?'checked="true"':'' #-->><span>话题</span></label>
            <label><input class="J_check" type="radio" name="clickType" value="topic" <!--# echo $banner['type']=='topic'?'checked="true"':'' #-->><span>贴子</span></label>
            <label><input class="J_check" type="radio" name="clickType" value="link" <!--# echo $banner['type']=='link'?'checked="true"':'' #-->><span>外部链接</span></label>
        </div>
        <div class="mb15"><h4 class="mb5">点击指向</h4>
            <input name="href" type="text" class="input" value="{$banner['href']}" style="width:396px;">
        </div>
        <ul class="fun_tips">
            <li>选择“论坛版面”，填写论坛FID</li>
            <li>选择“话题”，填写话题名</li>
            <li>选择“帖子”，填写帖子ID</li>
            <li>选择“外部链接”，填写链接地址，如淘宝店请填写淘宝店手机站地址</li>
        </ul>
	</div>
	<div class="pop_bottom cc">
		<button type="button" class="btn fr" id="J_dialog_close">取消</button>
		<button id="J_auth_sub" class="btn btn_submit fr mr10" type="submit">提交</button>
    </div>
</div>
</form>
<!--用户编辑弹窗结束-->

</div>
<template source='TPL:admin.common.footer' />
<script>
Wind.js(GV.JS_ROOT+ 'pages/admin/auth_manage.js?v=' +GV.JS_VERSION);
</script>
</body>
</html>
