<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body style="width:435px;" class="body_none">
<div class="">

<!--用户权限编辑添加: 添加用户-->
<form id="J_auth_form" action="{@url:native/fresh/doAdd}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="fid" value="{$fid}" />
        <input type="hidden" name="vieworder" value="{$oneFresh['vieworder']}" />
        <input type="hidden" name="img" value="{$oneFresh['img']}" />
<div>
    <div class="pop_cont">
        <div class="mb15"><h4 class="mb5"><span class="red">*</span>logo(150*150、jpg、png)</h4>
            <input type="file" name="Filename" value="" />
        </div>
        <div class="mb15"><h4 class="mb5"><span class="red">*</span>名称</h4><input name="title" type="text" value="{$oneFresh['title']}" class="input" style="width:200px;"></div>
        <div class="mb15"><h4 class="mb5"><span class="red">*</span>目标链接</h4>
            <input name="href" type="text" class="input" value="{$oneFresh['href']}" style="width:396px;">
        </div>
        <div class="mb15"><h4 class="mb5">备注</h4>
            <input name="des" type="text" class="input" value="{$oneFresh['des']}" style="width:396px;">
        </div>
	</div>
	<div class="pop_bottom cc">
		<button type="button" class="btn fr" id="J_dialog_close">取消</button>
		<button id="J_auth_sub" class="btn btn_submit fr mr10" type="submit">提交</button>
    </div>
</div>
</form>
<!--用户编辑弹窗结束-->

</div>
<template source='TPL:admin.common.footer' />
<script>
Wind.js(GV.JS_ROOT+ 'pages/admin/auth_manage.js?v=' +GV.JS_VERSION);
</script>
</body>
</html>
