<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">

<div class="h_a">APP聊天通讯秘钥一键修复功能说明</div>

<div class="prompt_text">
	<ul>
        <li>当您的APP提示消息系统不能正常登陆时，请在此对您的APP通讯秘钥进行一键修复后方可使用</li>
	</ul>
</div>
<div class="btn_wrap">
	<div class="btn_wrap_pd" id="J_sub_wrap">
        <button type="button" class="btn btn_submit J_ajax_submit_btn" onclick="location.href='{@url:native/wukong/doWukongRegist}'">一键修复</button>
	</div>
</div>
</div>
<template source='TPL:admin.common.footer' />

</body>
</html>
