<html>
    <head></head>
    <body>
        <!--http://www.phpwind.com/index.php?c=post&a=doreply&_getHtml=1-->
        <form id="replyform2" action="index.php?m=native&c=post&a=doreply&_getHtml=2" method="post">
            tid:<input type="text" id="tid" name="tid"/><br>
            pid:<input type="text" id="pid" name="pid"/><br>
            atc_content：<input type="text" id="atc_content" name="atc_content"/><br>
            <input type="submit" value="提 交"/><br>
        </form>
      
    </body>
</html>

