<html>
    <head></head>
    <body>
        <form id="showthread" action="index.php?m=native&c=post&a=add&fid=4" method="post" enctype="multipart/form-data">
            atc_title:<input type="text" id="atc_title" name="atc_title"/><br>
            atc_content：<input type="text" id="atc_content" name="atc_content"/><br>
            tagnames：<input type="text" id="tagnames" name="tagnames"/><br>
            pid(默认空):<input type="text" id="pid" name="pid"/><br>
            tid（默认空）：<input type="text" id="tid" name="tid"/><br>
            special：<input type="text" id="special" name="special" value="default"/><br>
            reply_notice:<input type="text" id="reply_notice" name="reply_notice" value="1"/><br>  
            <input type="submit" value="提 交"/><br>
        </form>
      Array
(
    [atc_title] => 测试发帖
    [atc_content] => 测试发帖测试发帖测试发帖测试发帖[s:弹][attachment=2][attachment=3]

    [flashatt] => Array
        (
            [2] => Array
                (
                    [desc] => 水
                    [cost] => 0
                )

            [1] => Array
                (
                    [desc] => 考拉
                    [cost] => 0
                )

            [3] => Array
                (
                    [desc] => 
                    [cost] => 
                    [ctype] => 1
                )

        )

    [oldatt_ctype] => Array
        (
            [1] => 1
            [2] => 1
        )

    [tagnames] => Array
        (
            [0] => 测试
            [1] => 话题2
            [2] => 分类三板块1
        )

    [pid] => 
    [tid] => 
    [special] => default
    [reply_notice] => 1
    [csrf_token] => b8b6b23262caeb01
)
    
    </body>
</html>

